
@font-face {
  font-family: 'FatCow';
  src: url('FatCow.eot?#iefix') format('embedded-opentype'),  url('FatCow.woff') format('woff'), url('FatCow.ttf')  format('truetype'), url('FatCow.svg#FatCow') format('svg');
  font-weight: normal;
  font-style: normal;
}
